.radio-select {
    padding: 10px;
}

.radio-select span {
    margin-left: 10px;
    vertical-align: middle;
}

.answer-options {
    margin-left: 10px;
}

li {
    list-style-type: none;
    margin-bottom: 30px;
}