.UserRow {
    margin-bottom: 20px;
}

.UserRow button {
    color: brown;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: white;
    border-width: 1px;
    border-color: cadetblue;
    border-style: solid;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 100%;
}

.UserRow button:hover {
    color: brown;
    background-color: whitesmoke;
    text-decoration:none;
}

.UserRow img {
    width: 100px;
    margin-right: 20px;
}

.UserRow span {
    
}